/* .ant-menu,
.ant-menu-root,
.ant-menu-inline,
.ant-menu-dark,
.css-dev-only-do-not-override-nllxry {
} */

.ant-menu {
    background-color: #678983;
    color: white;
}

.ant-layout-header {
    height: 0px;
}

/* .ant-layout {
    background-color: #181D31;
} */

/* .ant-layout-footer {
} */


/* .ant-menu-item,
.ant-menu-item-selected,
.ant-menu-item-only-child {
    background-color: #E48F44;
} */

/* .ant-menu-item:hover,
.ant-menu-item:active,
.ant-menu-item-selected {
    background-color: #E48F44;
} */

.ant-menu-item:hover {
    background-color: #E48F44;
}

.ant-menu-item.ant-menu-item-selected a {
    color: black;
}

.ant-menu-item:hover {
    color: black;
}

.exampleData {
    background-color: #E48F44;
    color: white;
    border-radius: 7px;
    width: 180px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1)
}